@import "./colors";
@import "./popup";

.mapButton {
  height: 100%;
  width: 100%;
  padding: 0;

  img {
    height: 60px;
    width: 60px;
  }
}

.submit {
  float: left;
}

.delete {
  text-align: center;
}

.cancel {
  float: right;
}
.createGardenPopupRow {
  margin-top: 20px;
}
.createGardenForm {
  button {
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -ms-border-radius: 30em;
    -o-border-radius: 30em;
  }
}
