@import "./colors";

.form-div {
  width: 100%;
  margin-top: 80px;
  background-color: $color-base;
}
.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}
.errorForm {
  border-color: $color-danger;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.errorForm-message {
  color: $color-danger;
  height: 1em;
  font-size: 0.8em;
}

.alertBox {
  position: fixed !important;
  opacity: 0.9;
  z-index: 22;
  top: 0;
  left: 50%;
  margin: auto;
  width: 100vw;
  max-width: 800px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.alertInPopup {
  margin-top: 20px;
}

.spinnerDiv {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 21;
  background-color: rgba($color: #666, $alpha: 0.6);
  text-align: center;
  padding-top: 50vh;
}
