.Content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
}

.buttonGroupWrapper {
  text-align: center;
}

.buttonGroup {
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

.pagePartContent {
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
}
