@import "./_colors";

$card-radius: 50px;
@import "./popup";

.gardenBox {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.Content {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  width: 100vw;
  height: calc(100vh - 80px);
  overflow: scroll;

  hr {
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 3%;
    margin-right: 3%;
    color: $color-secondary;
    height: 6px;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -ms-border-radius: 30em;
    -o-border-radius: 30em;
  }
  h5 {
    margin-bottom: 15px;
  }
}
.gardenInfoIcon {
  margin-right: 10px;
}
.headingGardens {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
}
.buttonGroupWrapper {
  z-index: 3;
  width: 100vw;
  margin-top: 10px;
  position: fixed;
  text-align: center;
  border-radius: 30em;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  -ms-border-radius: 30em;
  -o-border-radius: 30em;
}

.buttonGroup {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 100vw;
  max-width: 600px;
  padding: 0;
  border-radius: 30em !important;
  -webkit-border-radius: 30em !important;
  -moz-border-radius: 30em !important;
  -ms-border-radius: 30em !important;
  -o-border-radius: 30em !important;

  button {
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -ms-border-radius: 30em;
    -o-border-radius: 30em;
  }
}

.menuButtonIcon {
  height: 45px;
}

.pagePartContent {
  margin: 10px;
  padding: 10px;
}

/*
.listing {
}
 */

.listItem {
  display: grid;
  grid-template-columns: 70px calc(100% - 70px);
  margin-top: 20px;
  margin-bottom: 20px;
}
$dateBorderRadius: 15px;
.listItemGraphic {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 70px;
}

.listItemGraphicCalendar {
  border-radius: $dateBorderRadius;
}

.eventDateMonth {
  background-color: rgb(255, 114, 104);
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: $dateBorderRadius;
  border-top-right-radius: $dateBorderRadius;
  font-size: 130%;
}

.eventDateDay {
  background-color: beige;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: $dateBorderRadius;
  border-bottom-right-radius: $dateBorderRadius;
  font-size: 200%;
}

.listItemGraphicImage {
  border-radius: 50%;
}

.listItemContent {
  padding-left: 55px;
  display: flex;
  align-items: center;
}
.listItemResources {
  :hover {
    cursor: pointer;
    background-color: $color-secondary;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -ms-border-radius: 30em;
    -o-border-radius: 30em;
  }
}
/* 
.listItemDetail {
}
*/

@mixin floatingButton {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 3;
}

.addButtonNew {
  @include floatingButton();
  width: 70px;
  height: 70px;
  padding: 0;
  font-size: 300%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.removeButton {
  float: right;
  scale: 75%;
}

.joinButton {
  @include floatingButton();
  height: 70px;
  font-size: 200%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}
