@import "./_colors";

$card-radius: 50px;
@import "./popup";

.gardenBox {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.Content {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100vw;
  height: calc(100vh - 80px);
  overflow: scroll;

  hr {
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 3%;
    margin-right: 3%;
    color: $color-secondary;
    height: 6px;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -ms-border-radius: 30em;
    -o-border-radius: 30em;
  }
  h5 {
    margin-bottom: 15px;
  }
}
.gardenInfoIcon {
  margin-right: 10px;
}
.headingGardens {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
}
.buttonGroupWrapper {
  z-index: 3;
  width: 100vw;
  max-width: 600px;
  margin-top: 10px;
  position: fixed;
  text-align: center;
  border-radius: 30em;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  -ms-border-radius: 30em;
  -o-border-radius: 30em;
}

.buttonGroup {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 100vw;
  max-width: 600px;
  padding: 0;
  border-radius: 30em !important;
  -webkit-border-radius: 30em !important;
  -moz-border-radius: 30em !important;
  -ms-border-radius: 30em !important;
  -o-border-radius: 30em !important;

  button {
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -ms-border-radius: 30em;
    -o-border-radius: 30em;
  }
}

.menuButtonIcon {
  max-height: 45px;
}

.pagePartContent {
  margin: 10px;
  padding: 10px;
  padding-bottom: 10px;
}

/*
.listing {
}
 */

.listItem {
  display: grid;
  grid-template-columns: 70px calc(100% - 70px);
  margin-top: 20px;
  margin-bottom: 20px;
}
$dateBorderRadius: 15px;
.listItemGraphic {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 70px;
}

.listItemGraphicCalendar {
  border-radius: $dateBorderRadius;
}

.eventDateMonth {
  background-color: rgb(255, 114, 104);
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: $dateBorderRadius;
  border-top-right-radius: $dateBorderRadius;
  font-size: 130%;
}

.eventDateDay {
  background-color: beige;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: $dateBorderRadius;
  border-bottom-right-radius: $dateBorderRadius;
  font-size: 200%;
}

.listItemGraphicImage {
  border-radius: 50%;
}

.listItemContent {
  padding-left: 55px;
  display: flex;
  align-items: center;
}
.listItemResources {
  :hover {
    cursor: pointer;
    background-color: $color-secondary;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -ms-border-radius: 30em;
    -o-border-radius: 30em;
  }
}
/* 
.listItemDetail {
}
*/

@mixin floatingButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 3;
}

@keyframes rotateButton {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}
.addButtonNew {
  @include floatingButton();
  :hover {
    cursor: pointer;
  }
  width: 70px;
  height: 70px;
  border-radius: 30em;
  background-color: $color-primary;
  transition: background-color 1s;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  -ms-border-radius: 30em;
  -o-border-radius: 30em;
  animation-duration: 0.3s;
  animation-name: rotateButton;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.removeButton {
  float: right;
  scale: 75%;
}

.joinButton {
  @include floatingButton();
  height: 70px;
  font-size: 200%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.addPlus {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 4px;
  left: 0px;
  overflow: hidden;
  transition: transform 1s;
}

.addPlus::before,
.addPlus::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
}

.addPlus::before {
  transform: rotate(0deg);
}

.addPlus::after {
  transform: rotate(90deg);
}
