@import "./colors";
@import "./form.scss";
@import "./navigation.scss";
@import "./leaflet-marker-cluster.scss";
@import "./map.scss";
@import "./mapNav.scss";
@import "./error.scss";
@import "./popup";
//import font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300;1,400&family=Mr+Dafoe&display=swap");

// change the default bootstrap theme
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "danger": $color-danger,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
// Import Leaflet styles and its default variables
@import "~leaflet/dist/leaflet.css";
//Import leaflet marker cluster styles
@import "~react-leaflet-markercluster/dist/styles.min.css";

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $color-base;
}

.bodyBox {
  max-width: 800px;
  margin: auto;
}

.btn-primary,
.btn-danger {
  color: white !important;
}
