@import "./colors";

.Header {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 20vh;
  background-color: $color-secondary;

  img {
    position: absolute;
    bottom: 0;
    padding: 10px;
    // display: block;
    max-width: 33%;
    max-height: 100%;
  }

  .Text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    text-align: right;
  }
}
