@import "./colors";

.title {
  position: relative;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aqua;
  }

  img {
    width: 100%;
  }
}
