@import "./_colors.scss";

.marker-cluster-small {
  background-color: rgba(241, 209, 114, 0.4);
}
.marker-cluster-small div {
  background-color: rgba(241, 209, 114, 0.6);
}
.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(232, 182, 27, 0.6);
}
.marker-cluster-large {
  background-color: rgba(230, 135, 17, 0.4);
}
.marker-cluster-large div {
  background-color: rgba(230, 135, 17, 0.6);
}
.leaflet-oldie .marker-cluster-small {
  background-color: #b5e28c;
}
.leaflet-oldie .marker-cluster-small div {
  background-color: #6ecc39;
}
.leaflet-oldie .marker-cluster-medium {
  background-color: #f1d357;
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: #f0c20c;
}
.leaflet-oldie .marker-cluster-large {
  background-color: #fd9c73;
}
.leaflet-oldie .marker-cluster-large div {
  background-color: #f18017;
}
