@import "./_colors.scss";

.marker-cluster-small {
  background-color: #d8c3a599;
}
.marker-cluster-small div {
  background-color: #d8c3a5dd;
}
.marker-cluster-medium {
  background-color: #785f5599;
}
.marker-cluster-medium div {
  background-color: #785f55dd;
}
.marker-cluster-large {
  background-color: #48332d99;
}
.marker-cluster-large div {
  background-color: #48332ddd;
}
.leaflet-oldie .marker-cluster-small {
  background-color: #d8c3a599;
}
.leaflet-oldie .marker-cluster-small div {
  background-color: #d8c3a5dd;
}
.leaflet-oldie .marker-cluster-medium {
  background-color: #785f5599;
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: #785f55dd;
}
.leaflet-oldie .marker-cluster-large {
  background-color: #48332d99;
}
.leaflet-oldie .marker-cluster-large div {
  background-color: #48332ddd;
}
