@import "./colors";

.map.leaflet-container {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.main-container {
  width: 100vw;
  margin-top: 64px;
}

.leaflet-control-layers {
  background-color: $color-base;
  top: 60px;
}
/* Radio element, when checked */
input[type="radio"]:checked {
  box-shadow: 0 0 0 2px $color-primary;
}

.leaflet-popup-close-button {
  color: $color-base !important;
}
.leaflet-popup-close-button:hover {
  color: $color-secondary !important;
}
.leaflet-popup-content {
  width: 300px;
  max-width: 300px;
  max-height: 400px;
  word-break: keep-all;
  .dropdown-divider {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 3%;
    margin-right: 3%;
    color: $color-secondary;
    height: 2px;
  }
  h1 {
    font-size: 1.5rem;
    word-break: keep-all;
    float: left;
    display: inline;
  }
  .markerPopupButton {
    margin: 10px;
    margin-left: 25px;
    button {
      width: 60px;
      height: 60px;
      margin-right: 5px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    button.join {
      width: 120px;
      border-radius: 30em;
      -webkit-border-radius: 30em;
      -moz-border-radius: 30em;
      -ms-border-radius: 30em;
      -o-border-radius: 30em;
    }
  }
}
.popupInfos {
  overflow-y: scroll;
}
.leaflet-container {
  font-family: "Montserrat", sans-serif;
}
.dropdown-icon {
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transition: transform 0.75s;
  -webkit-transition: transform 0.75s;
  -moz-transition: transform 0.75s;
  -ms-transition: transform 0.75s;
  -o-transition: transform 0.75s;
}
.dropdownIcon.dropdownOpened {
  transform: rotateX(180deg) !important;
  -webkit-transform: rotateX(180deg) !important;
  -moz-transform: rotateX(180deg) !important;
  -ms-transform: rotateX(180deg) !important;
  -o-transform: rotateX(180deg) !important;
  transition: transform 0.75s;
  -webkit-transition: transform 0.75s;
  -moz-transition: transform 0.75s;
  -ms-transition: transform 0.75s;
  -o-transition: transform 0.75s;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

.signUpButtonDivMap {
  position: fixed;
  top: 0px;
  right: 80px;

  z-index: 2;
  margin-left: 80px;
  .signupButtonMap {
    min-height: 60px;
    background-color: $color-primary;
    color: white;
    border-radius: 0 0 20px 20px;
    border: none;
    z-index: 2;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
  }
  .signUpIconMap {
    margin-left: 10px;
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
    width: auto;
    opacity: 1;
    animation: wiggle 1.5s infinite;
    -webkit-animation: wiggle 1.5s infinite;
    transition: all 0.5s cubic-bezier(0.14, 0.59, 1, 1.01);
    -moz-transition: all 0.5s cubic-bezier(0.14, 0.59, 1, 1.01);
    -ms-transition: all 0.5s cubic-bezier(0.14, 0.59, 1, 1.01);
    -o-transition: all 0.5s cubic-bezier(0.14, 0.59, 1, 1.01);
    -webkit-transition: all 0.5s cubic-bezier(0.14, 0.59, 1, 1.01);
  }
  button:hover {
    background-color: $color-primary-hover;
    transition-duration: 0.5s;
  }
}
.signupButtonMap.smallerTextMap {
  font-size: 1.5rem !important;
}
