@import "./colors";
.mapNav {
  .row {
    height: 100%;
  }
  .col {
    //border-left: 1px solid $color-secondary;
  }
  .col:hover {
    background-color: #fff;
  }
  #colFirst {
    border-radius: 20px 0 0 0;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    -ms-border-radius: 20px 0 0 0;
    -o-border-radius: 20px 0 0 0;
  }
  #colLast {
    border-radius: 0 20px 0 0;
    -webkit-border-radius: 0 20px 0 0;
    -moz-border-radius: 0 20px 0 0;
    -ms-border-radius: 0 20px 0 0;
    -o-border-radius: 0 20px 0 0;
  }
  .activeLocation {
    background-color: $color-tertiary;
  }
  .activeLocation:hover {
    background-color: $color-tertiary-hover;
  }
  overflow-y: hidden;
  border-radius: 20px 20px 0 0;
  height: 60px;
  background-color: $color-base;
  max-width: 800px !important;
  z-index: 3;
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

.mapNavIcon {
  color: $color-secondary;
  font-size: 40px;
  margin-left: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.mapNavExtraContainer {
  h2 {
    margin-bottom: 1.5rem;
    margin-left: 30px;
  }
  h4 {
    img {
      height: 1.3rem;
      width: auto;
      margin-right: 5px;
    }
    font-size: 1.2rem;
  }
  li {
    list-style: none;

    label {
      margin-left: 10px;
    }
  }
  .dropdown-divider {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 10%;
    margin-right: 10%;
    color: $color-secondary;
    height: 2px;
  }
  button {
    margin-top: 30px;
  }
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 90px;
  opacity: 1;
  max-height: 80vh;
  width: 100vw;
  max-width: 800px !important;
  left: 50vw;
  transform: translateX(-50%);
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  transition: max-height 300ms;
  -webkit-transition: max-height 300ms;
  -moz-transition: max-height 300ms;
  -ms-transition: max-height 300ms;
  -o-transition: max-height 300ms;
}

.mapNavExtraContainer.hidden {
  overflow-y: hidden;
  bottom: 0;
  opacity: 0;
  max-height: 0px;
  padding: 0;
  transition: max-height 300ms;
  -webkit-transition: max-height 300ms;
  -moz-transition: max-height 300ms;
  -ms-transition: max-height 300ms;
  -o-transition: max-height 300ms;
}
.advice {
  background-color: $color-base;
  margin: 5px;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.filterElement {
  margin: 10px;
  margin-left: 15%;
  color: black;
  font-size: 1rem;
  svg {
    margin-right: 5px;
  }
  .filterCheck {
    fill-opacity: 0;
    transition: height 0.4s;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    -ms-transition: height 0.4s;
    -o-transition: height 0.4s;
  }
}
.filterElement.checked {
  .filterCheck {
    color: $color-primary;
    fill-opacity: 1;
    transition: height 0.4s;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    -ms-transition: height 0.4s;
    -o-transition: height 0.4s;
  }
  text-decoration: underline;
  text-decoration-color: $color-primary;
  -moz-text-decoration-color: $color-primary;
}
.filterElement:hover {
  cursor: pointer;
}
.filterButton {
  margin-left: 15%;
  border-radius: 30em !important;
  -webkit-border-radius: 30em !important;
  -moz-border-radius: 30em !important;
  -ms-border-radius: 30em !important;
  -o-border-radius: 30em !important;
}
.gardenDiv {
  background-color: white;
  margin: 5px;
  padding: 0.8rem;
  padding-left: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  button {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  button.join {
    width: 120px;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -ms-border-radius: 30em;
    -o-border-radius: 30em;
  }
  img {
    height: 1rem;
    width: auto;
    margin-right: 5px;
  }
}
.gardenDiv:hover {
  cursor: pointer;
}
.activeGardenDiv {
  h4 {
    text-decoration: underline $color-primary;
  }

  background-color: $color-base;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
}

/* Scroll Down */

.scrolldown-wrapper {
  opacity: 1;
  visibility: visible;
  z-index: 4;
  left: 50%;
  position: fixed;
  text-align: center;
  bottom: 75px;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.scrolldown-wrapper.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.scrolldown {
  border: 2px solid #444;
  border-radius: 30px;
  height: 46px;
  margin: 0 auto 8px;
  text-align: center;
  width: 30px;
}

.scrolldown-p1,
.scrolldown-p2 {
  animation-duration: 1.5s;
  animation-name: scrolldown;
  animation-iteration-count: infinite;
  fill: #444;
}

.scrolldown-p2 {
  animation-delay: 0.75s;
}

@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translate(0, -8px);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 8px);
  }
}
