@import "./colors";
.mapNav {
  .row {
    height: 100%;
  }
  .col {
    //border-left: 1px solid $color-secondary;
  }
  .col:hover {
    background-color: #fff;
  }
  #colFirst {
    border-radius: 20px 0 0 0;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    -ms-border-radius: 20px 0 0 0;
    -o-border-radius: 20px 0 0 0;
  }
  #colLast {
    border-radius: 0 20px 0 0;
    -webkit-border-radius: 0 20px 0 0;
    -moz-border-radius: 0 20px 0 0;
    -ms-border-radius: 0 20px 0 0;
    -o-border-radius: 0 20px 0 0;
  }
  .activeLocation {
    background-color: $color-primary;
  }
  .activeLocation:hover {
    background-color: $color-primary-hover;
  }
  overflow-y: hidden;
  border-radius: 20px 20px 0 0;
  height: 60px;
  background-color: $color-base;
  max-width: 800px !important;
  z-index: 3;
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

.mapNavIcon {
  color: $color-secondary;
  font-size: 40px;
  margin-left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.mapNavExtraContainer {
  li {
    list-style: none;

    label {
      margin-left: 10px;
    }
  }
  overflow-y: scroll;
  padding: 5%;
  opacity: 1;
  height: 95vh;
  background-color: $color-secondary;
  width: 100vw;
  max-width: 800px !important;
  padding-bottom: 60px;
  z-index: 2;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  transition-duration: 200ms;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

.mapNavExtraContainer.hidden {
  overflow-y: hidden;
  bottom: 0;
  opacity: 0;
  height: 0px;
  transition-duration: 200ms;
}

.filterElement {
  color: black;
  .filterCheck {
    fill-opacity: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }
}
.filterElement.checked {
  .filterCheck {
    color: $color-primary;
    fill-opacity: 1;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }
  text-decoration: underline;
  text-decoration-color: $color-primary;
  -moz-text-decoration-color: $color-primary;
}
