@import "./colors";

.signupDiv {
  margin-left: 0;
  margin-top: 5vh;
  padding: 5%;
  max-width: 100vw;
  width: 100vw;
}
.img {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 50%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.imageDiv {
  background-color: $color-base;
  //margin: auto;
}
