@import "./colors";

.img {
  width: 100vw;
  border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px 25px 0, 0;
  -moz-border-radius: 25px 25px 0, 0;
  -ms-border-radius: 25px 25px 0, 0;
  -o-border-radius: 25px 25px 0, 0;
}
.imageDiv {
  background-color: $color-base;
}
