@import "./colors";

.signupDiv {
  margin-left: 0;
  width: 100vw;
}
.img {
  width: 100%;
  border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px 25px 0, 0;
  -moz-border-radius: 25px 25px 0, 0;
  -ms-border-radius: 25px 25px 0, 0;
  -o-border-radius: 25px 25px 0, 0;
}
.imageDiv {
  background-color: $color-base;
}
